.keg-form {
  margin-top: 50px;
  margin-bottom: 80px;
  color: hotpink;
}

.display {
  max-width: 40%;
}
pint-display {
  img {
    height: 40px;
    width: 40px;
  }
}

.empty {
  color: red;
}

.medium {
  color: green;
}

.cheap {
  h3 {
    background: yellow;
  }
}

.selected {
  color: hotpink;
}
